<div class="situacao-financeira">
  <h2 class="text-center">Sua situação financeira: {{ situacaoFinanceiraCtrl.pontuacao }}/100</h2>

  <div class="progress">
    <div class="progress-bar" ng-class="{ 'progress-bar-success' : situacaoFinanceiraCtrl.pontuacao > 69, 'progress-bar-danger' : situacaoFinanceiraCtrl.pontuacao < 40, 'progress-bar-warning' : situacaoFinanceiraCtrl.pontuacao > 39 && situacaoFinanceiraCtrl.pontuacao < 70 }" style="width: {{situacaoFinanceiraCtrl.pontuacao}}%">
    </div>
  </div>
  
  <p ng-if="situacaoFinanceiraCtrl.pontuacao > 69">Parabéns, sua situação financeira se encontra em um nível acima do estável, isso significa que você está poupando mais do que gastando.</p>
  <p ng-if="situacaoFinanceiraCtrl.pontuacao > 39 && situacaoFinanceiraCtrl.pontuacao < 70">Parabéns, você está conseguindo poupar mais do que gastar mas tente poupar ainda mais.</p>
  <p ng-if="situacaoFinanceiraCtrl.pontuacao < 40"><b>Atenção</b>, você está poupando muito pouco ou gastando mais do que poupando, comece a reduzir seus custos.</p>

  <h2 class="text-center">Como melhorar minha situação financeira?</h2>
  <p ng-if="situacaoFinanceiraCtrl.pontuacao < 70">Você pode melhorar sua situação financeira através dos seguintes passos:</p>
  <p ng-if="situacaoFinanceiraCtrl.pontuacao >= 70">Você já possui uma ótima situação financeira mas sempre é possível melhorar. Aqui estão algumas dicas:</p>
  <ul>
    <li ng-repeat="dica in situacaoFinanceiraCtrl.dicas">{{dica}}</li>
  </ul>
</div>