<div class="all">
	<div class="charts">
		<div class="expenses-pie-chart text-center">
			<h3 class="text-center no-margin-top">Lançamentos do mês</h3>
			<canvas ng-if="homeCtrl.expensesChart.data.values.length > 0" id="pie" class="chart chart-pie"
			  chart-data="homeCtrl.expensesChart.data.values" chart-labels="homeCtrl.expensesChart.data.labels" chart-options="homeCtrl.expensesChart.options">
			</canvas>
			<span class="no-expenses" ng-if="homeCtrl.expensesChart.data.values.length == 0">Não há despesas cadastradas para este mês</span>
		</div>
		<div class="account-balance-chart">
			<h3 class="text-center no-margin-top">Lançamentos dos últimos 12 meses</h3>
			<canvas id="line" class="chart chart-line" chart-data="homeCtrl.accountBalanceChart.data.values"
			chart-labels="homeCtrl.accountBalanceChart.data.labels" chart-series="homeCtrl.accountBalanceChart.data.series" chart-options="homeCtrl.accountBalanceChart.options">
			</canvas>
			<span class="no-expenses" ng-if="homeCtrl.accountBalanceChart.data.values.length == 0">Não há despesas cadastradas</span>
		</div>
	</div>
	<div class="tabular-data">
		<h2>Últimos lançamentos</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Data</th>
					<th>Natureza</th>
					<th>Descrição</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="despesa in homeCtrl.ultimasDespesas">
					<td>{{despesa.data}}</td>
					<td>{{despesa.natureza}}</td>
					<td>{{despesa.descricao}}</td>
					<td>{{despesa.valor}}</td>
				</tr>
				<tr class="text-center" ng-if="homeCtrl.ultimasDespesas.length == 0">
					<td colspan="4">Não há lançamentos para este mês</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>