.all {
	height: 200px;
}

.charts {
	white-space: nowrap;
	display: flex;
	width: 100%;
	height: 300px;

	.expenses-pie-chart {
		display: table;
		height: 300px;
		width: 35%;
		margin-right: 3%;
		vertical-align: middle;

		.no-expenses {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.account-balance-chart {
		width: 55%;
	}
}